@font-face {
    font-family: MoonFlower;
    src: url(../media/fonts/MoonFlowerBold.ttf);
}

body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    text-decoration: none;
}

input {
    margin: 2% auto;
    width: 45%;
    padding: 1%;
    display: block;
    font-size: 1.5em;
}

.container {
    margin: 2%;
    border: thick solid black;
    background-color: hsla(248, 53%, 58%, 1.0);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.headerContainer {
    height: 10%;
    width: 98%;
    white-space: nowrap;
    padding: 1%;
    background-color: black;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, hsla(248, 53%, 58%, 1.0));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, hsla(248, 53%, 58%, 1.0));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, hsla(248, 53%, 58%, 1.0));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, hsla(248, 53%, 58%, 1.0));
    /* Standard syntax */
    /*text-shadow: 0.1em 0.1em 0.2em black;*/
}

.logo {
    max-height: 150%;
}

.headerText {
    font-family: MoonFlower;
    font-size: 3.5em;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.landingPageBtnContainer {
    margin: 10% 0 0 0;
}

.welcomeTxt {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.btn {
    margin: 2% auto;
    width: 50%;
    padding: 1%;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.btnSend {
    padding: 1%;
    /*display: inline-block;*/
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    align: right;
}

.btnSend:hover {}

.talkInput {
    display: inline-block;
    margin: 2%;
    padding: 1%;
    font-size: 1.5em;
    width: 50%;
}

.adminLoginLink * {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: lightsteelblue;
    text-decoration: underline;
}

.alertContainer {
    margin: 2% auto;
    margin-top: 5%;
    width: 50%;
    padding: 1%;
    display: block;
    text-align: center;
    border: medium solid black;
    background-color: hsla(249, 54%, 72%, 1.0);
    font-size: 1.5em;
}

.talkInputContainer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 97.8%;
    padding: 1%;
    display: block;
}
