body {
    height: 100%;
    width: 100%;
}

.container {
    margin: 2%;
    border: thick solid green;
    background-color: lightgreen;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
