
<div class="mapContainer">
 <iframe class="mapImg" src="https://www.google.com/maps/d/embed?mid=1pLaEiCi5zZNFN2BC8vWBNWWJ9mQ" width="600" height="400"></iframe>
</div>
<div class="resourcesList">
 <p class="resourcesTitle">Resources</p>
 <ul>
   <li>Crisis Services</li>
   <li>Gender Services</li>
   <li>Medical (Other)</li>
   <li>Counselling</li>
   <li>Shelter</li>
   <li>Law</li>
   <li>Food</li>
   <li>Transportation</li>
 </ul>
</div>

<br />
<h4>Medical</h4>
<a href= "http://www.aaatf.org/">African American AIDS Task Force - Twin Cities</a>
<p>(612) 825-2052</p>


<a href="http://www.face2face.org/">Face to face</a>
<p>Health care, counseling, and programs for homeless youth.</p>



<a href="http://www.reddoorclinic.org/">Hennepin County Health Clinic (formerly Red Door Clinic) - Minneapolis</a>
<p>STD & HIV testing and sexual health service
(612) 543-5555 (HIV Testing)</p>

<p>
La Clinica
Health Care for the homeless
651-602-7500</p>

<p>
  Minnesota AIDS Project (MAP)
</p>
<a href="http://www.mnaidsproject.org/"></a>
<p>Statewide HIV/AIDS prevention and education. Minnesota AIDSLine and AIDSWalk.</p>
<p>(612) 373-AIDS AIDSLine</p>
<p>(612) 341-2060</p>
<p>(612) 373-2465 TTY metro</p>
<p>(888) 820-2437 TTY state</p>

<a href="http://www.mntranshealth.org/">Minnesota Transgender Health Coalition</a>
<p>Focusing upon Trans health issues in the local community</p>
<p>(612) 823-1152</p>

<p>Rainbow Health Initiative - Minneapolis</p>
<a href="http://www.rainbowhealth.org/"</a>
<p>Improving the health of GLBT Minnesotans through education, clinical practice, and research</p>
<p>(612) 206-3180</p>

<a href="http://www.yapmn.com/">Youth & AIDS Project - Minneapolis</a>

<p>Education, prevention, and care among youth at risk for HIV infection at the U of M
(612) 627-6820
Youth Link (formerly Project Offstreets)
Youth services, including GLBT youth outreach, support, recreation, HIV/STD prevention
(612) 252-1200</p>





<h4>Educational</h4>
<a href="http://www.amazeworks.org/">AMAZE - Minneapolis</a>

<p>Using children's literature to make schools safe and welcoming for all children and families.
(612) 724-4323</p>

Bisexual Organizing Project (BOP)
http://www.bisexualorganizingproject.org/
Build, serve and advocate for an empowered bisexual, pansexual, fluid, queer, and unlabeled (Bi*) community to promote social justice.

OutFront Minnesota
http://www.outfront.org/resources/organizations
Advancing Equity for LGBTQ Minnesotans

Quatrefoil Library Saint Paul
<a https://www.qlibrary.org/></a>

GLBT community library and archives
(651) 641-0969

<h4>Social</h4>
<a href="http://www.aaminneapolis.org/">AA Intergroup - Minneapolis </a>

<p>Access to all Alcoholics Anonymous groups including GLBT specific groups
(952) 922-0880</p>

<a href="http://www.aastpaul.org/">AA Intergroup - Saint Paul
</a>
<p>Access to all Alcoholics Anonymous groups including GLBT specific groups
(651) 227-5502</p>

<a href="http://www.mntranshealth.org/">Minnesota Transgender Health Coalition
</a>
<p>
  Focusing upon Trans health issues in the local community
  (612) 823-1152
</p>


<a href="http://www.2stepmsp.org/">Northern Lights Country Dancers</a>
<p>
  Sponsors GLBT country dancing for all. With lessons.
  (612) 741-7827
</p>

<a href="http://www.outwoods.org/">Outwoods - Twin Cities
</a>
<p>
  GLBT outdoor activities social group
</p>


<h4>Shelters</h4>
<a href="http://www.avenuesforyouth.org/">Avenues for Homeless Youth - Minneapolis</a>
<p>
  Provides safe and nurturing emergency shelter, short term housing and support services for homeless youth. Also coordinates the GLBT Host Home Program.
  (612) 522-1690
</p>

<a href
The BRIDGE for Runaway Youth - Minneapolis
http://www.bridgeforyouth.org/
Crisis intervention and shelter for runaway youth including GLBT sensitive services (answered 24-hours)
(612) 377-8800

Youth Services Network
https://ysnmn.org/#/home
Helping youth find shelter and services (shelter, outreach, centers, food, medical, crisis line / counseling



<h4>Food Shelves</h4>
The Aliveness Project - Minneapolis
http://www.aliveness.org/
Meals, food shelf, therapy, and care-advocacy for people with AIDS.
(612) 822-7946

List for Food Shelves in Hennepin County
http://www.needhelppayingbills.com/html/hennepin_county_food_pantries.html
http://www.foodpantries.org/ci/mn-minneapolis
https://ysnmn.org/#/food


Little Kitchen Food Shelf
Pre-registration necessary
http://gracenempls.org/service/little-kitchen-food-shelf/

Sisters’ Camelot
https://www.facebook.com/Sisters-Camelot-138745306176952/
