<h4>Medical</h4>
<p><a href= "http://www.aaatf.org/">African American AIDS Task Force - Twin Cities</a><br>
(612) 825-2052</p>

<p>
<a href="http://www.face2face.org/">Face to face</a><br>
Health care, counseling, and programs for homeless youth.</p>

<p><a href="http://www.reddoorclinic.org/">Hennepin County Health Clinic (formerly Red Door Clinic) - Minneapolis</a>
<br>STD & HIV testing and sexual health service
(612) 543-5555 (HIV Testing)</p>

<p>
<a href= "http://www.westsidechs.org/programs.php?clinic=4La">La Clinica <a> <br>
Health Care for the homeless <br>
651-602-7500</p>

<p><a href="http://www.mnaidsproject.org/">  Minnesota AIDS Project (MAP)</a>
Statewide HIV/AIDS prevention and education. Minnesota AIDSLine and AIDSWalk.<br>
(612) 373-AIDS AIDSLine<br>
(612) 341-2060<br>
(612) 373-2465 TTY metro<br>
(888) 820-2437 TTY state</p>

<p>
<a href="http://www.mntranshealth.org/">Minnesota Transgender Health Coalition</a><br>
Focusing upon Trans health issues in the local community<br>
(612) 823-1152</p>

<p>
<a href="http://www.rainbowhealth.org/">Rainbow Health Initiative - Minneapolis</a><br>
Improving the health of GLBT Minnesotans through education, clinical practice, and research<br>
(612) 206-3180</p>

<p>
<a href="http://www.yapmn.com/">Youth & AIDS Project - Minneapolis</a><br>
Education, prevention, and care among youth at risk for HIV infection at the U of M<br>
(612) 627-6820<br>
Youth Link (formerly Project Offstreets)<br>
Youth services, including GLBT youth outreach, support, recreation, HIV/STD prevention<br>
(612) 252-1200</p>



<h4>Educational</h4>
<p>
<a href="http://www.amazeworks.org/">AMAZE - Minneapolis</a> <br>
Using children's literature to make schools safe and welcoming for all children and families.
(612) 724-4323</p>

<p>
<a href="http://www.bisexualorganizingproject.org/">Bisexual Organizing Project (BOP)</a><br>
Build, serve and advocate for an empowered bisexual, pansexual, fluid, queer, and unlabeled (Bi*) community to promote social justice.</p>

<p>
<a href="http://www.outfront.org/resources/organizations">  OutFront Minnesota </a> <br>
Advancing Equity for LGBTQ Minnesotans </p>

<p>
<a href="https://www.qlibrary.org/"> Quatrefoil Library Saint Paul</a> <br>
The Quatrefoil Library’s mission is to provide a welcoming place to foster GLBT community, culture, and camaraderie through literature and media.<br>
(651) 641-0969</p>

<h4>Social</h4>
<p>
<a href="http://www.aaminneapolis.org/">AA Intergroup - Minneapolis </a><br>
Access to all Alcoholics Anonymous groups including GLBT specific groups<br>
(952) 922-0880</p>

<p>
<a href="http://www.aastpaul.org/">AA Intergroup - Saint Paul</a><br>
Access to all Alcoholics Anonymous groups including GLBT specific groups<br>
(651) 227-5502</p>

<p>
<a href="http://www.mntranshealth.org/">Minnesota Transgender Health Coalition</a><br>
Focusing upon Trans health issues in the local community<br>
(612) 823-1152
</p>

<p>
<a href="http://www.2stepmsp.org/">Northern Lights Country Dancers</a><br>
Sponsors GLBT country dancing for all. With lessons.<br>
(612) 741-7827
</p>

<p>
<a href="http://www.outwoods.org/">Outwoods - Twin Cities</a> <br>
GLBT outdoor activities social group
</p>


<h4>Shelters</h4>

<p>
<a href="http://www.avenuesforyouth.org/">Avenues for Homeless Youth - Minneapolis</a><br>
Provides safe and nurturing emergency shelter, short term housing and support services for homeless youth. Also coordinates the GLBT Host Home Program.<br>
(612) 522-1690</p>

<p>
<a href="http://www.bridgeforyouth.org/">The BRIDGE for Runaway Youth - Minneapolis</a><br>
Crisis intervention and shelter for runaway youth including GLBT sensitive services (answered 24-hours)<br>
(612) 377-8800</p>

<p>
<a href="https://ysnmn.org/#/home">Youth Services Network</a><br>
Helping youth find shelter and services (shelter, outreach, centers, food, medical, crisis line / counseling
</p>


<h4>Food Shelves</h4>
<p>
<a href="http://www.aliveness.org/"> The Aliveness Project - Minneapolis </a> <br>
Meals, food shelf, therapy, and care-advocacy for people with AIDS. <br>
(612) 822-7946</p>

<p>
<a href="http://gracenempls.org/service/little-kitchen-food-shelf/">Little Kitchen Food Shelf</a><br>
Pre-registration necessary</p>

<p>
<a href= "https://www.facebook.com/Sisters-Camelot-138745306176952/"> Sisters’ Camelot
</a>

<p>
List for Food Shelves in Hennepin County<br>
<a href= "http://www.needhelppayingbills.com/html/hennepin_county_food_pantries.html"> Need Help Playing the Bills</a><br>
<a href ="http://www.foodpantries.org/ci/mn-minneapolis"> Food Pantries</a><br>
<a href="https://ysnmn.org/#/food"> Youth Services Network</a> </p>
