
<div class="mapContainer">
    <iframe class="mapImg" src="https://www.google.com/maps/d/embed?mid=1pLaEiCi5zZNFN2BC8vWBNWWJ9mQ" width="600" height="400"></iframe>
</div>
<div class="resourcesList">
    <p class="resourcesTitle">Resources</p>
    <ul>
        <li>Crisis Services</li>
        <li>Gender Services</li>
        <li>Medical (Other)</li>
        <li>Counselling</li>
        <li>Shelter</li>
        <li>Law</li>
        <li>Food</li>
        <li>Transportation</li>
    </ul>
    <a href="#!/resourcesList"><button type="button" name="button">List View</button></a>
</div>
