<div class="alertContainer">
    <p>We are trying to connect you to a supportive adult.</p>
    <p>If this is an emergency,</p>
    <p>please call <a href="tel:866-488-7386">866-488-7386</a> (The Trevor Project).</p>
    <div class="loaderGifContainer">
      <img class="loaderGif" src="../media/images/loader.gif" alt="Loading">
    </div>
</div>

<div class="talkInputContainer">
    <input class="talkInput" type="" title="" placeholder="What do you want to talk about?" />
    <a href="#!/talkConnected"><button type="submit" class="btnSend">Send</button></a>
</div>
