<div class="landingPageBtnContainer">
    <p class="welcomeTxt">Welcome</p>
    <a href="#!/talk"><button class="btn" type="button" name="button">I want to talk to a supportive adult.</button></a>
    <a href="#!/resources"><button class="btn" type="button" name="button">What resources are in my area?</button></a>
    <a href="#!/profiles"><button class="btn" type="button" name="button">View Profiles</button></a>

</div>
<footer class="adminLoginLink"><a href="#!/adminLogin">admin login</a></footer>
